/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background: linear-gradient(180deg, #f4f4f4 0%, #e0e0e0 50%, #d1d1d1 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav {
    background: #555;
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #777;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

.post {
    background: #fff;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
    color: #333;
}

.post p {
    color: #666;
}

.post a {
    color: #007BFF;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
